<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hook up</title>
    <link rel="stylesheet" href="assert/css/style.css">
</head>
<body>

    <header class="VO1">
        <h1>Cochez Vos Préférences</h1>
    </header>

    <nav>
       <div class="contaner">
        <ul class="list left">
            <li><input type="checkbox">: Sport</li>
            <li><input type="checkbox">:Musique</li>
            <li><input type="checkbox">:Lecture</li>
        </ul>
        <ul class="list right">
            <li><input type="checkbox">: Voyage</li>
            <li><input type="checkbox">:cinéma</li>
            <li><input type="checkbox">:Technologie</li>
        </ul>
       </div>
    
    </nav>


    <div class="footer">
        <button>Continuer</button>
    </div>

    

    
</body>
</html>