{% extends 'base.html' %}
{% block content %}

<h4>S'enregistre ici</h4>

{% for message in messages %}

<strong>{{ message }}<strong>

{% endfor %}


<form method="post" action="/register">
    {% csrf_token %}
<label for="username">Username</label>
<input type="text" name="username" id="username" placeholder="Enter your username" required>
<br><br>
<label for="firstname">Firstaname</label>
<input type="text" name="firstname" id="firstname" placeholder="Enter your firstname" required>
<br><br>
<label for="lastname">Lastname</label>
<input type="text" name="lastname" id="lastname" placeholder="Enter your lastname" required>
<br><br>
<label for="email">Email</label>
<input type="email" name="email" id="email" placeholder="Enter your email" required>
<br><br>
<label for="password">Password</label>
<input type="password" name="password" id="password" placeholder="Enter your password" required>
<br><br>
<label for="password1">Confirm password</label>
<input type="password" name="password1" id="password1" placeholder="Enter your password again" required>
<br><br>
<button type="submit">Enregistrer</button>
</form>



{% endblock %}