{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Titre par défaut{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <!-- Mettre ici le contenu commun de l'en-tête si nécessaire -->
    </header>
    
    <main>
        {% block content %}
        <!-- Le contenu spécifique du template enfant sera inséré ici -->
        {% endblock content %}
    </main>
    
    <footer>
        <!-- Mettre ici le contenu commun du pied de page si nécessaire -->
    </footer>
</body>
</html>
