{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="chat_window">
    <div class="top_menu">
        <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div>
        <div class="title">Chat</div>
    </div>
    <ul class="messages" id="message-list">
        {% for message in messages %}
            <li class="message {% if message.user == request.user %}right appeared{% else %}left appeared{% endif %}" id="message_{{ message.id }}" data-message-id="{{ message.id }}">
                <div class="avatar"></div>
                <div class="text_wrapper">
                    <div class="text">
                        {% if message.text %}
                            {{ message.text }}
                        {% elif message.image %}
                            <img src="{{ message.image.url }}" alt="Image message">
                        {% elif message.video %}
                            <video width="320" height="240" controls>
                                <source src="{{ message.video.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% elif message.audio %}
                            <audio controls>
                                <source src="{{ message.audio.url }}" type="audio/mpeg">
                                Your browser does not support the audio tag.
                            </audio>
                        {% elif message.document %}
                            <a href="{{ message.document.url }}" target="_blank">Download Document</a>
                        {% else %}
                            Media message
                        {% endif %}
                    </div>
                </div>
                {% if message.user == request.user %}
                    <button class="delete-button btn btn-danger btn-sm" data-message-id="{{ message.id }}">Delete</button>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
            <input class="message_input" placeholder="Enter your message here..." id="message-input" type="text">
        </div>
        <div class="send_message" id="send-button">
            <div class="text">Send</div>
        </div>
    </div>
</div>
<div id="chat-id" style="display: none;">{{ room_name }}</div>

<style>
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #edeff2;
        font-family: "Calibri", "Roboto", sans-serif;
    }

    .chat_window {
        position: absolute;
        width: calc(100% - 20px);
        max-width: 800px;
        height: 500px;
        border-radius: 10px;
        background-color: #fff;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        background-color: #f8f8f8;
        overflow: hidden;
    }

    .top_menu {
        background-color: #fff;
        width: 100%;
        padding: 20px 0 15px;
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    }
    .top_menu .buttons {
        margin: 3px 0 0 20px;
        position: absolute;
    }
    .top_menu .buttons .button {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        position: relative;
    }
    .top_menu .buttons .button.close {
        background-color: #f5886e;
    }
    .top_menu .buttons .button.minimize {
        background-color: #fdbf68;
    }
    .top_menu .buttons .button.maximize {
        background-color: #a3d063;
    }
    .top_menu .title {
        text-align: center;
        color: #bcbdc0;
        font-size: 20px;
    }

    .messages {
        position: relative;
        list-style: none;
        padding: 20px 10px 0 10px;
        margin: 0;
        height: 347px;
        overflow: scroll;
    }
    .messages .message {
        clear: both;
        overflow: hidden;
        margin-bottom: 20px;
        transition: all 0.5s linear;
        opacity: 0;
    }
    .messages .message.left .avatar {
        background-color: #f5886e;
        float: left;
    }
    .messages .message.left .text_wrapper {
        background-color: #ffe6cb;
        margin-left: 20px;
    }
    .messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
        right: 100%;
        border-right-color: #ffe6cb;
    }
    .messages .message.left .text {
        color: #c48843;
    }
    .messages .message.right .avatar {
        background-color: #fdbf68;
        float: right;
    }
    .messages .message.right .text_wrapper {
        background-color: #c7eafc;
        margin-right: 20px;
        float: right;
    }
    .messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
        left: 100%;
        border-left-color: #c7eafc;
    }
    .messages .message.right .text {
        color: #45829b;
    }
    .messages .message.appeared {
        opacity: 1;
    }
    .messages .message .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: inline-block;
    }
    .messages .message .text_wrapper {
        display: inline-block;
        padding: 20px;
        border-radius: 6px;
        width: calc(100% - 85px);
        min-width: 100px;
        position: relative;
    }
    .messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
        top: 18px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .messages .message .text_wrapper::after {
        border-width: 13px;
        margin-top: 0px;
    }
    .messages .message .text_wrapper::before {
        border-width: 15px;
        margin-top: -2px;
    }
    .messages .message .text_wrapper .text {
        font-size: 18px;
        font-weight: 300;
    }

    .bottom_wrapper {
        position: relative;
        width: 100%;
        background-color: #fff;
        padding: 20px 20px;
        position: absolute;
        bottom: 0;
    }
    .bottom_wrapper .message_input_wrapper {
        display: inline-block;
        height: 50px;
        border-radius: 25px;
        border: 1px solid #bcbdc0;
        width: calc(100% - 160px);
        position: relative;
        padding: 0 20px;
    }
    .bottom_wrapper .message_input_wrapper .message_input {
        border: none;
        height: 100%;
        box-sizing: border-box;
        width: calc(100% - 40px);
        position: absolute;
        outline-width: 0;
        color: gray;
    }
    .bottom_wrapper .send_message {
        width: 140px;
        height: 50px;
        display: inline-block;
        border-radius: 50px;
        background-color: #a3d063;
        border: 2px solid #a3d063;
        color: #fff;
        cursor: pointer;
        transition: all 0.2s linear;
        text-align: center;
        float: right;
    }
    .bottom_wrapper .send_message:hover {
        color: #a3d063;
        background-color: #fff;
    }
    .bottom_wrapper .send_message .text {
        font-size: 18px;
        font-weight: 300;
        display: inline-block;
        line-height: 48px;
    }

    .message_template {
        display: none;
    }
    .messages {
        position: relative;
        list-style: none;
        padding: 20px 10px 0 10px;
        margin: 0;
        height: 347px;
        overflow-y: scroll;
    }
    
    .messages .message {
        clear: both;
        overflow: hidden;
        margin-bottom: 20px;
        transition: all 0.5s linear;
        opacity: 0;
    }
    
    .messages .message.appeared {
        opacity: 1;
    }
    
    .messages .message .text_wrapper {
        display: inline-block;
        padding: 20px;
        border-radius: 6px;
        width: calc(100% - 85px);
        min-width: 100px;
        position: relative;
    }
    
    .messages .message .text_wrapper .text {
        font-size: 18px;
        font-weight: 300;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const chatIdElement = document.getElementById('chat-id');
        if (!chatIdElement) {
            console.error('Element with id "chat-id" not found.');
            return;
        }
        
        const chatId = chatIdElement.textContent.trim();
        if (!chatId) {
            console.error('chat-id element content is empty.');
            return;
        }
    
        const wsUrl = `ws://${window.location.host}/ws/room/${chatId}/`;
        console.log('WebSocket URL:', wsUrl);
    
        const chatSocket = new WebSocket(wsUrl);
    
        chatSocket.onopen = function (e) {
            console.log('WebSocket connection opened.');
        };
    
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log('Message received:', data);
            if (data.type === 'chat_message') {
                handleIncomingMessage(data);
            } else if (data.type === 'delete_message_event') {
                handleDeleteMessageEvent(data.message_id);
            }
        };
    
        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };
    
        document.getElementById('send-button').onclick = function (e) {
            const messageInputDom = document.getElementById('message-input');
            const message = messageInputDom.value.trim(); // Trim pour enlever les espaces blancs superflus
            if (message === '') {
                console.log('Message is empty.');
                return;
            }
            
            chatSocket.send(JSON.stringify({
                'type': 'text',
                'message': message,
                'username': "{{ request.user.username }}",
                'room_name': "{{ room_name }}"
            }));
            messageInputDom.value = '';
        };
    
        function handleIncomingMessage(data) {
            const messageList = document.getElementById('message-list');
            const messageElement = document.createElement('li');
            messageElement.classList.add('message', 'appeared');
            messageElement.id = `message_${data.message_id}`;
    
            if (data.sender_id === "{{ request.user.id }}") {
                messageElement.classList.add('right');
            } else {
                messageElement.classList.add('left');
            }
    
            const avatar = document.createElement('div');
            avatar.classList.add('avatar');
            messageElement.appendChild(avatar);

            const textWrapper = document.createElement('div');
            textWrapper.classList.add('text_wrapper');
            const text = document.createElement('div');
            text.classList.add('text');
            text.innerText = data.message;
            textWrapper.appendChild(text);
            messageElement.appendChild(textWrapper);
    
            if (data.sender_id === "{{ request.user.id }}") {
                const deleteButton = document.createElement('button');
                deleteButton.classList.add('delete-button', 'btn', 'btn-danger', 'btn-sm');
                deleteButton.dataset.messageId = data.message_id;
                deleteButton.innerText = 'Delete';
                messageElement.appendChild(deleteButton);
            }
    
            messageList.appendChild(messageElement);
            messageList.scrollTop = messageList.scrollHeight;
        }
    
        function handleDeleteMessageEvent(messageId) {
            const messageElement = document.getElementById(`message_${messageId}`);
            if (messageElement) {
                messageElement.remove();
            }
        }
    
        document.getElementById('message-list').addEventListener('click', function (e) {
            if (e.target.className.includes('delete-button')) {
                const messageId = e.target.dataset.messageId;
                chatSocket.send(JSON.stringify({
                    'type': 'delete_message',
                    'message_id': messageId
                }));
            }
        });
    });
</script>

{% else %}
<div class="container">
    <div class="alert alert-info d-flex justify-content-between" role="alert">
        <h5>You are not logged in</h5>
        <a href="/accounts/logout/">
            <button type="button" class="btn btn-light">Log Out</button>
        </a>
    </div>
</div>
{% endif %}
{% endblock %}
