<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>principe</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <header><h1>Personnes qui pourraient vous plaire</h1></header>
    <main>
        <div class="div1">
            <div class="div11"><button class="button"><img src="v" alt=""></button></div>
            <div class="div12">
                <div class="bu"><button class="but">Description(bio)</button></div>
                <div class="bu"><button class="but">taux de correspondance</button></div>
                <div class="bu"><button class="but">ses préférences</button></div>
            </div>
        </div>
        
    </main>
</body>
</html>