body{
    overflow-y: auto;
    height: 100%;
}
.div1{
    display: flex;
    align-items: center;
}
.div11{
    width: 50%;
}
.div12{
    width: 50%;
}
.bu{
    padding: 10%;
}
.but{
    height: 60px;
    width: auto;
    font-size: 21px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

/*pour l'icone de profils*/
.button{
    width:400px ;
    height:400px;
    border-radius: 50%;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
}